# EXPERIMENT 1

In [6]:
#EXPERIMENT 1 : "INTRODUTION TO PYTHON"
#25070123071
x,y,z="apple","orange","cherry"
print(x,y,z,sep="\n")

apple
orange
cherry

In [7]:
x,y,z,w=2,2.5,"anurag", True
print(type(x),type(y),type(z),type(w),sep="\n")

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [11]:
a,b=10,5
print("add=",a+b,"\nsub=",a-b,"\nmulti=", a*b,"\ndiv=",a/b,"\nexp=",a**b)

add= 15
sub= 5
multi= 50
div= 2.0
exp= 100000

In [13]:
a=int(input("enter the value of a="))
b=int(input("enter the value of b="))
print("add=",a+b,"\nsub=",a-b,"\nmulti=", a*b,"\ndiv=",a/b,"\nexp=",a**b)

enter the value of a=5
enter the value of b=16
add= 21
sub= -11
multi= 80
div= 0.3125
exp= 152587890625

In [18]:
import math
r=float(input("enter the radius of circle="))
area=math.pi*r**2
print(area)

enter the radius of circle=3
28.274333882308138

In [21]:
import math
print(math.log10(10))

1.0

In [34]:
import math
print(math.asin(1))

1.5707963267948966

In [35]:
a=int(input("enter the value of a="))
b=int(input("enter the value of b="))
if b>a:
    print("b is greater than a")
else:
    print("b is not greater than a")

enter the value of a=5
enter the value of b=8
b is greater than a